

#skills .imageWrapper {
    height: 150px;
    display: flex;
    justify-content: center;
    min-width: 50px;
}

#skills{
    margin-bottom: 80px;
    display:flex;
}

.links {
    display:flex;
    justify-content: center;
}


